.chat-view-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  // height: 100%;
  // padding-top: 4px;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 12px;
  margin: 12px 8px 12px 4px;
  background-color: rgb(30, 30, 30);
}
