.chat-info-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 300ms ease-in-out;
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: none;
}

.chat-info-modal-container.active {
  opacity: 1;
  pointer-events: visible;
}

.chat-info-modal-content {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  min-width: 300px;
  width: auto;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgb(30, 30, 30);
  color: white;
}

.group-chat-modal-header {
  display: flex;
  gap: 6px;
  width: 100%;
  justify-content: space-between;
  padding: 12px 10px;
  align-items: center;
  border-bottom: 1px solid gray;

  button {
    border: none;
    background-color: transparent;
    font-size: 14px;
  }

  button:hover {
    cursor: pointer;
    font-weight: bold;
  }

  p {
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
  }
}

.group-chat-modal-body {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 8px;
  width: 100%;
}

.group-chat-modal-chat-participants-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(63, 59, 59);
  border-radius: 8px;
  padding: 0px 0px 8px 0px;

  .group-chat-modal-member-header-container {
    // position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 8px 12px 8px 12px;
    align-items: center;
    border: 1px solid rgb(59, 59, 131);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;

    .add-button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid gray;
      background-color: rgb(94, 93, 93);
      height: 16px;
      width: 16px;
      &:hover {
        cursor: pointer;
      }

      span {
        font-size: small;
        font-weight: bold;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  // .group-chat-modal-member-header {
  //   background-color: black;
  //   padding: 8px 0px 8px 0px;
  //   text-align: center;
  //   border: 1px solid rgb(59, 59, 131);
  //   border-top-left-radius: 8px;
  //   border-top-right-radius: 8px;
  // }
}

.group-chat-modal-member-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
  gap: 12px;
  padding: 8px 12px 4px 12px;
  max-height: 250px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    background: rgb(30, 30, 30);
    background-clip: padding-box;
    border-radius: 100px;
  }
}

.group-chat-modal-user-info-container {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;

  &:hover {
    color: rgb(138, 136, 136);
    cursor: pointer;

    .chevron-container {
      background-color: black;
    }
  }
}

.group-chat-modal-user-info-picture-container {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  img {
    min-width: 100%;
    object-fit: cover;
  }
}

.user-name-user-userName-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;
  &:hover {
    ~ .chevron-container {
      background-color: black;
    }
  }
}

.chevron-container {
  display: block;
  border-radius: 50%;
  border: 1px solid gray;
  height: 16px;
  width: 16px;
  padding: 4px;
  display: flex;
  margin-left: auto;
  fill: rgb(184, 182, 182);
  // width: 12px;
  padding-right: 4px;
}

.edit-pencil-container {
  padding-bottom: 2px;
  fill: white;
  width: 12px;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.group-chat-modal-header-chat-name {
  border: none;
  display: inline-block;
  border-radius: 4px;
  padding: 4px;
  background-color: black;
  color: white;

  &:focus {
    border: none;
    outline: 1px solid rgb(81, 81, 197);
  }
}

.chat-info-modal-button {
  display: flex;
  gap: 8px;
  justify-content: center;

  button {
    font-size: 16px;
    padding: 0.75rem;
    // font-weight: bold;
    width: 40%;
    background-color: rgb(173, 45, 45);
    border: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 24px;
    color: white;
    margin-top: 4px;
  }

  button:hover {
    cursor: pointer;
    filter: brightness(0.8);
  }
}
