.add-friend-modal-body {
  form {
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    gap: 8px;

    input {
      margin-bottom: 4px;
      height: 30px;
      background-color: black;
      color: white;
      outline: 1px solid gray;
      padding: 6px;
      border-radius: 4px;
      border: 0;
    }

    input:focus {
      outline: 1px solid rgb(81, 81, 197);
    }

    button {
      margin: 0 auto;
      height: 40px;
      width: 80px;
      background-color: black;
      border: 1px solid white;
      border-radius: 4px;
      color: white;
    }

    button:hover {
      cursor: pointer;
      filter: brightness(0.8);
    }

    button:hover {
      cursor: pointer;
    }
  }
}
