.add-friend-modal-body {
  form {
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    gap: 8px;

    input {
      margin-bottom: 8px;
      height: 30px;
    }

    button {
      margin: 0 auto;
      height: 40px;
      width: 80px;
    }

    button:hover {
      cursor: pointer;
    }
  }
}
