.side-bar-container {
  width: 30%;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}

.side-bar-header-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 8px;
  color: white;
  background-color: rgb(65, 42, 165);
}

.chat-preview-container {
  flex-grow: 1;
}

.new-convo-container {
  background-color: rgb(34, 152, 231);
  color: white;
  padding: 0 8px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-icon-container {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;

  // To add better styles when hovering over the button

  .chat-icon {
    border-radius: 50%;
  }
  .chat-icon:hover {
    cursor: pointer;
  }
}
