.message-view-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
  gap: 8px;
  width: 100%;
  border-radius: 8px;
  background-color: rgb(78, 78, 78);
  padding: 00px 10px 10px 10px;
}

.message-view-active-chat-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    background: rgb(30, 30, 30);
    background-clip: padding-box;
    border-radius: 100px;
  }
}

// So this either has to move to the left or right essentially becuase this is the child that is getting aligned accordingly to above, so copy below styles above essentially

.message-view-message-container.user-sent {
  display: flex;
  justify-content: flex-end;
  gap: 2px;
  width: 100%;
}

.message-view-message-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 8px;

  .message-view-message-image-container {
    height: 32px;
    width: 32px;
    overflow: hidden;
    border-radius: 50%;
    background: white;

    &:hover {
      cursor: pointer;
    }
  }

  // &:last-child {
  //   .message-view-text-container {
  //     .message-view-text {
  //       margin-bottom: 0px;
  //     }
  //   }
  // }
}

.message-view-text-container {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  align-items: flex-start;
  gap: 2px;
  font-weight: normal;
}

.message-view-text {
  max-width: 100%;
  background-color: #1f2227;
  font-size: 16px;
  word-wrap: break-word;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid gray;
  text-align: left;
}

.message-view-text-info {
  display: flex;
  justify-content: flex-end;
  font-size: smaller;
  gap: 2px;
  color: #999;
  font-size: 14px;
  color: white;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.send-message-editable {
  display: inline-block;
  color: white;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  background-color: #303238;
  outline: none;
  text-align: left;
  width: 100%;

  &:hover {
    cursor: text;
  }
}

.send-message-editable:empty::before {
  content: attr(data-text);
  color: rgb(167, 165, 165);
  padding-left: 3px;
}

.lottie-container {
  display: flex;
  align-items: center;
  color: lightgray;
  font-size: 12px;
  gap: 2px;
  // overflow: hidden;
}
