.message-view-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
  gap: 10px;
  height: 100%;
  padding: 8px 10px 0px 10px;
}

// So this either has to move to the left or right essentially becuase this is the child that is getting aligned accordingly to above, so copy below styles above essentially

.message-view-text-container.user-sent {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 2px;
  width: 100%;
}

.message-view-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-view-text {
  word-wrap: break-word;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid black;
  max-width: 40%;
  align-self: flex-end;
}

.message-view-text-info {
  display: flex;
  justify-content: flex-end;
  font-size: smaller;
  gap: 2px;
  color: gray;
}
