.message-view-container {
  overflow: auto;
  border: 1px solid black;
  border-left: 0px;
  padding-top: 8px;
  height: 70vh;
  padding-bottom: 8px;
  padding-left: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-view-text-container {
  max-width: 250px;
  display: flex;
}

.message-view-text {
  padding: 8px;
  border-radius: 4px;
  margin-left: 10px;
  border: 1px solid black;
}
