.notification-dropdown-container {
  position: absolute;
  right: 10px;
  top: 75px;
  z-index: 1000;
  width: 350px;
  background: rgb(30, 30, 30);
  box-shadow: 0px 0px 5px 1px black;
  border: 1px solid rgb(72, 78, 109);
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 350px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    margin: 2px;
  }

  &::-webkit-scrollbar-thumb {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    background: black;
    background-clip: padding-box;
    border-radius: 100px;
  }
}

.notification-dropdown-content-item-container {
  width: 100%;
  padding: 12px;
  border-bottom: 1px solid gray;
  p {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
  }

  &:hover {
    cursor: pointer;
    filter: brightness(0.8);
  }

  &:last-child {
    border: none;
  }
}

// .notification-dropdown-content-container {
//   width: 100%;

//   p {
//     padding: 12px;

//     &:hover {
//       cursor: pointer;
//       filter: brightness(0.8);
//     }
//   }

//   button {
//     border: none;
//     padding: 12px;
//     background-color: rgba(248, 58, 58, 0.8);
//     color: white;
//     font-size: 16px;
//     border-bottom-left-radius: 4px;
//     border-bottom-right-radius: 4px;
//   }

//   button:hover {
//     cursor: pointer;
//     filter: brightness(0.8);
//   }
// }
