.chat-preview-list {
  list-style: none;
  padding-left: 0px;
  overflow-y: scroll;
  height: 82vh;
}

.chat-preview-item {
  height: 70px;
  // background-color: #333;
  border-top: 1px solid gray;
  display: flex;
  align-items: center;
  padding-left: 10px;

  &:last-child {
    border-bottom: 1px solid gray;
  }

  &:first-child {
    border-top: 0px;
  }
}
