.chat-preview-container {
  margin-bottom: 8px;
  overflow: auto;
  // flex: 1;
  height: 100%;
  color: white;
}

.chat-preview-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 70px;
  border-top: 1px solid gray;
  display: flex;
  align-items: center;
  padding-left: 10px;

  &:last-child {
    border-bottom: 1px solid gray;
  }

  &:first-child {
    border-top: 0px;
  }
}
.chat-preview-list.active {
  font-weight: bold;
}

.chat-preview-list:hover {
  cursor: pointer;
}

.chat-preview-list-item-name-and-online {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.online-circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: rgb(8, 238, 34);
}

.offline-circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: red;
}

.chat-preview-list-circle-and-count-container {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
}

.chat-preview-list-latest-message-container {
}
