.chat-participant-content-container {
  display: flex;
  border: 1px solid gray;
  padding: 8px;
  border-radius: 8px;
  margin-top: 2px;
  margin-bottom: 6px;
  background-color: rgb(59, 88, 180);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  gap: 4px;
  align-items: center;
}

.chat-participant-content-remove:hover {
  cursor: pointer;
}
