.header-container {
  background-color: #333;
  margin-top: 0px;
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0px;
  justify-content: center;
}

.title {
  margin: 0px;
  color: rgb(142, 245, 7);
  font-weight: bold;
}
