.register-article {
  background-color: rgb(30, 30, 30);
  display: flex;
  justify-content: center;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
  box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.275);
}

.register-main {
  padding: 2rem;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  text-align: center;
  color: white;
}

.register-measure {
  width: 17em;
}

.register-fieldset {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  border: 1px solid transparent;
}

.register-legend {
  font-size: 36px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  font-weight: 600;
}

.register-legend-input-container {
  margin-top: 0.8rem;
  display: block;
}

.register-legend-label {
  display: block;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
}

// .register-legend-label-file {
//   display: block;
//   font-size: 18px;
//   line-height: 1.5;
//   font-weight: 600;
// }

.register-legend-input {
  padding: 0.5rem;
  background-color: transparent;
  width: 100%;
  overflow: visible;
  border: 1px solid white;
  color: white;

  &:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid white;
    border-radius: 0px;
    outline: none;
  }

  &:focus {
    background-color: #000;
    color: #fff;
    border: 1px solid gray;
    outline: rgb(87, 87, 233) solid 2px;
    border-radius: 2px;
  }
}

// .register-legend-input-file {
//   text-align: center;
//   padding: 0.5rem;
//   background-color: transparent;
//   width: 100%;
//   overflow: visible;
//   border: 1px solid white;
//   color: white;

//   &:hover {
//     background-color: #000;
//     color: #fff;
//     border: 1px solid white;
//     border-radius: 0px;
//     outline: none;
//   }

//   &:focus {
//     background-color: #000;
//     color: #fff;
//     border: 1px solid gray;
//     outline: rgb(87, 87, 233) solid 2px;
//     border-radius: 2px;
//   }
// }

.register-input {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 40%;
  font-size: 18px;
  padding: 0.5rem;
  border: 1px;
  background-color: transparent;
  font-weight: 600;
  font-family: 'Courier New';
  border: 1px solid white;
  margin: 0 auto;
  margin-top: 0.3rem;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-in-out;
  background-color: rgb(87, 87, 233);

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.sign-in-text {
  display: inline-block;
  padding: 0;
  margin: 0.8rem 0 0 0;
  line-height: 1.5;
  transition: opacity 0.15s ease-in;
  opacity: 1;
  color: white;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.register-legend-input-container-file {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 8px;
}

#profile-picture-button {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
  background-color: inherit;
  border: 1px solid white;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  // transition: background-color 0.2s ease-in;

  &:hover {
    background-color: black;
  }
}

.profile-picture-text-container {
  width: 250px;
  word-wrap: break-word;
  margin: 0 auto;
}

#sign-in-text {
  font-family: 'Courier New', Courier, monospace;
}

.username-checkmark-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}
