.send-message-container {
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  margin: 10px;
  border-radius: 5px;
  // If I end up putting a background color then by all means add this back so that it actually shows up
  // border-top: 1px solid gray;
  background-color: #474b53;
}

.send-message-container > form {
  display: flex;
  flex: 1;
  // flex-wrap: wrap;
}

.send-message-container > form > input {
  flex: 1;
  padding: 15px;
  background: transparent;
  border: none;
  outline-width: 0;
  color: white;
  font-size: large;
  display: flex;
  // flex-wrap: wrap;
}

// .send-input {
//   flex: 1;
//   border: 2px solid black;
//   border-right: 0px;
//   height: 50px;

//   border-top-left-radius: 4px;
//   border-bottom-left-radius: 4px;
//   background-color: gray;
//   color: white;

//   &:focus-visible {
//     outline: none;
//   }
// }

.send-button {
  display: none;
}
